#from templates.master import master
#extends master

#attr title = 'ASN Details'
#attr ip_details = None
#attr javascript = None
#attr asn_descs = []
#attr current_sources = []

#block menu
    <form method="get" action="/asn_details">
        <div>
            <input type="text" name="asn" value="$asn"/>
            <select name="source">
                <option value="">All the sources</option>
                #for $s in $sources
                    #if $source == $s
                        <option value="${s}" selected>${s}</option>
                    #else
                        <option value="${s}">${s}</option>
                    #end if
                #end for
            </select>
            <select name="date">
                <option value="">Choose a date</option>
                #for $d in $dates
                    #if $date == $d
                        <option value="${d}" selected>${d}</option>
                    #else
                        <option value="${d}">${d}</option>
                    #end if
                #end for
            </select>
            <input type="submit" value="Submit"/>
        </div>
    </form>
    <br/>
    #if $asn is not None
        This AS ($asn) is known in the following lists:
        <ul>
        #for $current_source in $current_sources
            <li>
                $current_source
            </li>
        #end for
        </ul>
    #end if
#end block menu

#block main_content
    </style>
    #if $javascript is not None
        <script type="text/javascript">$javascript</script>
        <canvas id="$js_name" width="1000" height="600" >[Please wait...]</canvas>
    #end if
    <table id="hor-minimalist-a">
        <thead>
            <tr>
                <th scope="col" >Timestamp</th>
                <th scope="col" >Owner</th>
                <th scope="col" >Block</th>
                <th scope="col" >Number of IPs today</th>
                <th scope="col" >Source(s)</th>
                <th scope="col" >Block Ranking</th>
            </tr>
        </thead>
        #for $asn_desc in $asn_descs
        <tr>
            <td>$asn_desc[1]</td>
            <td>$asn_desc[2]</td>
            <td><a href="/asn_details?date=${date};source=${source};asn=${asn};ip_details=${asn_desc[1]}">$asn_desc[3]</a></td>
            <td>$asn_desc[4]</td>
            <td>$asn_desc[5]</td>
            <td>$asn_desc[6]</td>
        </tr>
        #end for
    </table>
    #if $ip_details is not None
        #if $ip_descs is not None
            <table id="hor-minimalist-b">
                <thead>
                    <tr>
                        <th scope="col" >Timestamp</th>
                        <th scope="col" >IP Address</th>
                        <th scope="col" >List Name</th>
                    </tr>
                </thead>
                #for $ip_desc in $ip_descs
                <tr>
                    <td>$ip_desc[0]</td>
                    <td>$ip_desc[1]</td>
                    <td>$ip_desc[2]</td>
                </tr>
                #end for
            </table>
        #end if
    #end if
#end block main_content
