#from templates.master import master
#extends master

#attr title = 'ASN Details'
#attr ip_details = None
#attr javascript = None
#attr asn_descs = []

#block main_content
    </style>
    #if $javascript is not None
        <script type="text/javascript">$javascript</script>
        <canvas id="$js_name" width="1000" height="600" >[Please wait...]</canvas>
    #end if
    <table id="hor-minimalist-a">
        <thead>
            <tr>
                <th scope="col" >Timestamp</th>
                <th scope="col" >Owner</th>
                <th scope="col" >Block</th>
                <th scope="col" >Number of IPs today</th>
            </tr>
        </thead>
        #for $asn_desc in $asn_descs
        <tr>
            <td>$asn_desc[1]</td>
            <td>$asn_desc[2]</td>
            #if $source is not None
                <td><a href="/asn_details?source=${source};asn=${asn};ip_details=${asn_desc[0]}">$asn_desc[3]</a></td>
            #else
                <td><a href="/asn_details?asn=${asn};ip_details=${asn_desc[0]}">$asn_desc[3]</a></td>
            #end if
            <td>$asn_desc[4]</td>
        </tr>
        #end for
    </table>
    #if $ip_details is not None
        #if $ip_descs is not None
            <table id="hor-minimalist-b">
                <thead>
                    <tr>
                        <th scope="col" >Timestamp</th>
                        <th scope="col" >IP Address</th>
                        <th scope="col" >List Name</th>
                        <th scope="col" >Infection type</th>
                        <th scope="col" >Raw Informations</th>
                        <th scope="col" >Whois entry</th>
                    </tr>
                </thead>
                #for $ip_desc in $ip_descs
                <tr>
                    <td>$ip_desc[0]</td>
                    <td>$ip_desc[1]</td>
                    <td>$ip_desc[2]</td>
                    <td>$ip_desc[3]</td>
                    <td>$ip_desc[4]</td>
                    <td><pre>$ip_desc[5]</pre></td>
                </tr>
                #end for
            </table>
        #end if
    #end if
#end block main_content
