#from templates.master import master
#extends master

#attr title = ASN Details
#attr ip_details = None

#block main_content
    <script type="text/javascript">$javascript</script>
    <canvas id="$js_name" width="900" height="500">[Please wait...]</canvas>
    <table id="hor-minimalist-a">
        <thead>
            <tr>
                <th scope="col" >Timestamp</th>
                <th scope="col" >Owner</th>
                <th scope="col" >Block</th>
                <th scope="col" >Number of IPs today</th>
            </tr>
        </thead>
        #for $asn_desc in $asn_descs
        <tr>
            <td>$asn_desc[1]</td>
            <td>$asn_desc[2]</td>
            <td><a href="/?query=$query;ip_details=$asn_desc[0]">$asn_desc[3]</a></td>
            <td>$asn_desc[4]</td>
        </tr>
        #end for
    </table>
    #if $ip_details is not None
        #if $ip_descs is not None
            <table id="hor-minimalist-b">
                <thead>
                    <tr>
                        <th scope="col" >Timestamp</th>
                        <th scope="col" >IP Address</th>
                        <th scope="col" >List Name</th>
                        <th scope="col" >Infection type</th>
                        <th scope="col" >Raw Informations</th>
                        <th scope="col" >Whois entry</th>
                    </tr>
                </thead>
                #for $ip_desc in $ip_descs
                <tr>
                    <td>$ip_desc[0]</td>
                    <td>$ip_desc[1]</td>
                    <td>$ip_desc[2]</td>
                    <td>$ip_desc[3]</td>
                    <td>$ip_desc[4]</td>
                    <td><pre>$ip_desc[5]</pre></td>
                </tr>
                #end for
            </table>
        #end if
    #end if
#end block main_content
