#from templates.master import master
#extends master

#attr title = 'Index ASN'

#block menu
    #if $source is None
        <a href="/comparator">Compare a list of ASNs</a>
    #else
        <a href="/comparator?source=${source}">Compare a list of ASNs</a>
    #end if 

    #if $asn is not None:
        <form method="get" action="/asn_details">
    #else
        <form method="get" action="/asns">
    #end if 
        <div>
            <input type="text" name="asn" value="$asn"/>
            <select name="source">
                <option value="">Select a particular source</option>
                #for $s in $sources
                    #if $source == $s
                        <option value="${s}" selected>${s}</option>
                    #else
                        <option value="${s}">${s}</option>
                    #end if
                #end for
            </select>
            <input type="submit" value="Submit"/>
        </div>
    </form>
#end block menu

#block main_content
    <table id="hor-minimalist-a">
        <thead>
            <tr>
                <th scope="col" >ASN</th>
                <th scope="col" >Rank</th>
                <th scope="col" >Source(s)</th>
            </tr>
        </thead>
        #for $history in $histories
        <tr>
            #if $source is not None
                <td><a href="/asn_details?source=${source};asn=${history[0]}">${history[0]}</a></td>
            #else
                <td><a href="/asn_details?asn=${history[0]}">${history[0]}</a></td>
            #end if
            <td>$history[1]</td>
            <td>$history[2]</td>
        </tr>
        #end for
    </table>
#end block main_content
