#from templates.master import master
#extends master

#attr title = 'Index'

#block main_content
    <table id="hor-minimalist-a">
        <thead>
            <tr>
                <th scope="col" >Timestamp</th>
                <th scope="col" >ASN</th>
                <th scope="col" >Rank</th>
            </tr>
        </thead>
        #for $history in $histories
        <tr>
            <td>$history[0]</td>
            #if $source is not None
                <td><a href="/asn_details?asn=${history[1]};source=${source}">${history[1]}</a></td>
            #else
                <td><a href="/asn_details?asn=${history[1]}">${history[1]}</a></td>
            #end if
            <td>$history[2]</td>
        </tr>
        #end for
    </table>
#end block main_content
