#attr query = 'IP or AS Number'
#attr graph = 'path to graph'

<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>$title</title>
    <link rel="stylesheet" type="text/css" href="${css_file}">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <div id="main">
        <div id="top">
            <center><h1>BGP Ranking</h1></center>
        </div>

        <div id="content">
            <div id="contentcolumn">
                #if $query == ""
                    <table>
                        #for $history in $histories
                        <tr>
                            <td><a href="/?query=$history.asn">$history.asn</a></td>
                            <td>$history.rankv4</td>
                        </tr>
                        #end for
                    </table>
                #else
                    <img src="$graph" border="0" alt="Graph of $query" />
                    <table>
                        #for $asn_desc in $asn_descs
                        <tr>
                            <td>$asn_desc.owner</td>
                            <td><a href="/?query=$query&ip_details=$asn_desc.id">$asn_desc.ips_block</a></td>
                        </tr>
                        #end for
                    </table>
                    #if $ip_details != ""
                        <table>
                            #for $ip_desc in $ip_descs
                            <tr>
                                <td>$ip_desc.list_name</td>
                                <td>$ip_desc.infection</td>
                                <td>$ip_desc.raw_informations</td>
                                <td><pre>$ip_desc.whois</pre></td>
                            </tr>
                            #end for
                        </table>
                    #end if
                #end if
            </div>
        </div>

        <div id="menu">
            Your query:
            <form method="POST" action=".">
                <input type="text" name="query" value="$query">
                <input type="submit" value="Submit">
            </form> <br/>
        </div>

        <div id="footer"></div>

    </div>
  </body>
</html>

