#attr error = None
#attr title = 'Master'

#attr asn = None
#attr source = None

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>$title</title>
    <link rel="stylesheet" type="text/css" href="${css_file}"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    #if $rgraph_scripts is not None
        #for js in $rgraph_scripts
            <script  type="text/javascript" src="${rgraph_dir}${js}" ></script>
        #end for
    #end if
  </head>
  <body>
    <div id="header" class="header">
        <div id="logo">
            <a href="/"><img src="http://www.circl.lu/pics/logo.png"></a>
        </div>
        <div id="banner" align="center">
            <img src="http://www.circl.lu/pics/topbanner.jpg">
        </div>
    </div>
    <div id="body" class="body">
       <h1>BGP Ranking</h1>
            <div id="leftbox">
                <div id="nav">
                    <ul>
                        <li>
                            <a href="/reload">Reload</a><br/>
                        </li>
                        <li>
                           #if $source is None
                               <a href="/comparator">Compare a list of ASNs</a>
                           #else
                               <a href="/comparator?source=${source}">Compare a list of ASNs</a>
                           #end if 
                        </li>
                    </ul>
                </div>
            </div>
            <div id="content">
                #block menu
                    Menu Content
                #end block menu
                #if $error is not None
                    <div class="error">$error</div>
                #end if
                #block main_content
                    Main Content
                #end block main_content
            </div>
    </div>
  </body>
</html>

