#attr error = None
#attr title = 'Master'

#attr asn = None
#attr source = None

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>$title</title>
    <link rel="stylesheet" type="text/css" href="${css_file}"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    #if $rgraph_scripts is not None
        #for js in $rgraph_scripts
            <script  type="text/javascript" src="${rgraph_dir}${js}" ></script>
        #end for
    #end if
  </head>
  <body>
    <div id="container">
        <div id="header">
            <h1><a href="/">BGP Ranking</a></h1>
        </div>
        <div id="menu">
#            #if $source is not None:
#                <form method="get" action="/asn_details?source=${source}">
#           #else 
                <form method="get" action="/asn_details">
#            #end if
                <div><input type="text" name="asn" value="$asn"/><input type="submit" value="Submit"/></div>
            </form> <br/>
            <a href="/reload">Reload the report</a>
            <a href="/comparator">Compare a list of ASNs</a>
#            #if $asn is not None:
#                <form method="get" action="/asn_details?asn=${asn}">
#            #else 
                <form method="get" action="/">
#            #end if
                <div>
                    <select name="source">
                        <option value="">Select a particular source</option>
                        #for $s in $sources
                            #if $source == $s
                                <option value="${s}" selected>${s}</option>
                            #else
                                <option value="${s}">${s}</option>
                            #end if
                        #end for
                    </select>
                    <input type="submit" value="Submit"/>
                </div>
            </form>
        </div>
        <div id="content">
            #if $error is not None
                <div class="error">$error</div>
            #end if
            #block main_content
                Main Content
            #end block main_content
        </div>
        <div id="footer"> Footer </div>
    </div>
  </body>
</html>

