#from templates.master import master
#extends master


#block menu
#end block menu

#block main_content
This Graph only displays the ranks with less than $max_y ASNs.
<script type="text/javascript+protovis">
// Origin: http://vis.stanford.edu/protovis/ex/area.html
// FIXME Add something like this: http://vis.stanford.edu/protovis/docs/invert.html
    var panel = $panel;
    var data = $data;
    var max_y = $max_y;

    var w = 1000,
        h = 500,
        x = pv.Scale.linear(data, function(d) d.rank).range(0, w),
        y = pv.Scale.linear(0, max_y).range(0, h),
        fill = pv.colors("red", "blue", "green", "yellow");

    var vis = new pv.Panel()
        .width(w + 30 )
        .height(h + 5 )
        .margin(20)
        .right(40);

    vis.add(pv.Rule)
        .data(x.ticks(20))
        .visible(function(d) d > 0)
         .left(x)
        .strokeStyle(function(i) i ? "#ccc" : "black")
        .add(pv.Rule)
        .bottom(-5)
        .height(5)
        .anchor("bottom").add(pv.Label)
        .text(x.tickFormat);

    vis.add(pv.Rule)
        .data(y.ticks(20))
        .bottom(y)
        .strokeStyle(function(i) i ? "#ccc" : "black")
        .anchor("right").add(pv.Label)
        .visible(function() !(this.index & 1))
        .textMargin(6);

    vis.add(pv.Panel)
        .data(panel)
        .add(pv.Line)
        .data(data)
        .left(function(d) x(d.rank))
        .bottom(function(d, t) y(d[t]))
        .strokeStyle(fill.by(function(d, t) t))
        .lineWidth(2);

    vis.add(pv.Dot)
        .data(panel)
        .right(10)
        .top(function() this.index * 12 + 10)
        .fillStyle(fill.by(function(t) t))
        .strokeStyle(null)
        .anchor("left").add(pv.Label)
        .text(function(t) t);
    vis.render();

</script>

<script type="text/javascript+protovis">
// Origin: http://vis.stanford.edu/protovis/ex/group.html
//         http://eagereyes.org/tutorials/protovis-primer-part-2

    var panel = $panel;
    var data_2 = $data_2;

    var width = 1000;
    var height = 700;

    var barWidth = (width-10)/data_2.length;
    var gap = 2;

    var xScale = pv.Scale.linear(0, data_2.length).range(10, width);
    var amount = pv.Scale.linear(0, 20000).range(0, height);

//     var depthColors = pv.Scale.linear(0, 150).range("lightgray", "blue");

    var eq = new pv.Panel().width(width).height(height+5);

    eq.add(pv.Rule)
        .data(amount.ticks())
        .bottom(amount)
        .strokeStyle("lightgray")
        .left(10)
        .width(width-10)
    .anchor("left").add(pv.Label)
        .visible(function(d) d > 0);

    eq.add(pv.Bar)
        .data(data_2)
        .bottom(0)
        .width(barWidth-gap)
        .height(function(d) amount(d.nr_asns))
        .left(function() xScale(this.index))
//         .fillStyle(function(d) depthColors(d.Depth))
    .anchor("top").add(pv.Label)
        .text(function(d) d.nr_asns)
        .visible(function(d) d.nr_asns >= 100)
        .textBaseline("bottom");

    eq.render();

</script>
#end block main_content
