#from templates.master import master
#extends master

#attr title = 'Statistics'

#block menu
#end block menu

#block main_content
    #if $stats is not None
    <table>
        <thead>
            <tr>
                <th scope="col" >Date</th>
                <th scope="col" >Source</th>
                <th scope="col" >ASNs</th>
                <th scope="col" >Subnets</th>
            </tr>
        </thead>
        #for $order in $order_stats
        <tr>
            <th rowspan=$rowspan[$stat_dates]>$stat_dates</th>
            <th rowspan=$rowspan[$order]>$order</th>
                <tr>
                    <td>$stat_source</td>
                    <td>$stats[$order][$stat_source][0]</td>
                    <td>$stats[$order][$stat_source][1]</td>
                </tr>
            #end for
        </tr>
        #end for
    </table>
    #end if 
    #if $js_stats is not None
        <script type="text/javascript">$js_stats</script>
        <canvas id="$js_stats_name" width="1000" height="700">[Please wait...]</canvas>
    #end if
#end block main_content
