body{
    margin:0;
    padding:0;
}

#main{
    width: 1024px;
    margin: 0 auto;
}

#top{
    height: 90px;
}

#content{
    float: left;
    width: 100%;
    
}

#contentcolumn{
    margin-left: 150px;
    height: 500px;
}

#menu{
    float: left;
    width: 150px;
    margin-left: -1024px;
    height: 500px;
}

#footer{
    width: 100%;
    text-align: center;
}
